@charset "utf-8";

* {margin: 0; padding: 0; box-sizing: border-box;}
ul, ol {list-style: none;}
a {text-decoration: none;}

/*  헤더  */
.header {width: 100%; height: 105px; margin: 0 auto; display:flex; align-items: center;position: fixed;}
.header.scrolled {background-color: rgba(255, 255, 255, 0.95);box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);}
.header_mini {width: 1200px; height: 70px;  margin: 0 auto; display: flex; justify-content: space-between; align-content: center;}


/*  로고  */
.logo {width: 150px; height: 60px; margin-left: 15px; padding: 15px 0;}
.logo img {width: 100%; height: auto; display: block; transition: transform 0.35s ease, filter 0.35s ease;}
.logo:hover img {transform: scale(1.05);}


/*  마이페이지  */
.mypage ul {display: flex; gap: 5px; height: 100%;}
.mypage ul li {padding: 25px 10px;}
.mypage ul li a {font-size: 13px; font-weight:600; color: #7b7b7b; margin-right: 20px;}

hr{border: none; border-top: 1px solid #F0F0F0;}


/* 풋터 */
/* 전체 풋터 */
footer {
  width: 100%;
  background-color: #f9f9f9;
  color: #666;
  font-family: 'Pretendard', sans-serif;
  padding: 60px 0 40px;
  border-top: 1px solid #ddd;
  margin-top: 100px;
}

.footer_inner {
  width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* 상단 4열 구성 */
.footer_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

/* 로고 + 설명 */
.footer_logo_box {
  width: 280px;
}

.footer_logo {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}

.footer_logo img {
  width: 100%;
  height: auto;
  display: block;
}

.footer_desc {
    margin-top: 20px;
  font-size: 13px;
  line-height: 1.8;
  color: #777;
}

/* 열 제목 */
.footer_column h3 {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
  font-weight: 600;
}


/* 메뉴 링크 */
.footer_column ul {
  list-style: none;
  padding: 0;
}

.footer_column li {
  margin-bottom: 8px;
}

.footer_column a {
  text-decoration: none;
  color: #777;
  font-size: 14px;
  transition: color 0.2s;
}

.footer_column a:hover {
  color: #111;
}

/* SNS */
.sns_links i {
  margin-right: 6px;
}

/* 구분선 */
.footer_line {
  border: none;
  border-top: 1px solid #ddd;
  margin-bottom: 25px; margin-top: 30px;
}

/* 하단 정보 */
.footer_bottom {
  text-align: center;
}

.footer_info p {
  font-size: 12px;
  margin: 6px 0;
  color: #999;
}

.footer_copy {
  margin-top: 25px;
  font-size: 11px;
  color: #a1a1a1;
}


