@charset "utf-8";

* {margin: 0; padding: 0; box-sizing: border-box;}
ul, ol {list-style: none;}
a {text-decoration: none; color: #333;}

body {font-family: 'Pretendard';}
.container {width: 1200px; height: 100%; margin: 0 auto; background-color: rgb(255, 189, 245);}


/*  헤더  */
header{width: 100%; height: 105px; background-color: rgb(255, 155, 155);}
.header_mini {width: 100%; height: 50%; display: flex; justify-content: space-between; align-items: center; }


/*  로고  */
.logo {width: 170px; height: 60px; background-color: rgb(255, 73, 73);}


/*  마이페이지  */
.mypage ul {display: flex; gap: 20px; height: 100%; background-color: rgb(57, 84, 84);}
.mypage ul li a {font-size: 13px; font-weight:600; color: #7b7b7b; margin-right: 4px; }

/* 슬라이더 들어갈 부분 */
.A {width: 1200px; height: 465PX; margin: 0 auto; background-color: rgb(173, 173, 173);}
.B {width: 250PX; height: 80px;background-color: rgb(55, 84, 84);}

/* 여행지 추천 1 */
.C {width: 1200px; height: 550px; margin: 0 auto; display: flex; background-color: rgb(194, 129, 255)}
.D {width: 600px; height: 550px; background-color: rgb(141, 255, 217);}
.E {width: 1200px; height: 550px; margin: 0 auto; display: flex; background-color: rgb(131, 97, 162)}
.F {width: 600px; height: 550px;  background-color: rgb(194, 129, 255);} /* 글 넣어요 */
.G {width: 600px; height: 550px;  background-color: rgb(141, 255, 217);}

/* 이런곳은 어떠신가요?(글 문구) */
.H {width: 1200px; height: 325px; margin: 0 auto; background-color: rgb(249, 255, 166);}
.I {width: 400px; height: 50px; background-color: rgb(255, 166, 166);}
.J {width: 500px; height: 40px; background-color: rgb(125, 37, 37);}

/* 계절여행지추천 1 */
.container_box {width:1200px; height: 480px; display: flex; margin: 0;}
.container {width:1200px; margin: 100px auto;}
.banner{position: relative; margin: 25px;}
.banner_text {position: absolute; left: 70px; top: 50px; color: white; font-weight: 400;}
.banner h2 {font-size: 36px; ; line-height: 1.4; font-family: hnt-font;}
.banner_box img {width: 400px; height: 550px;}
.card_box {width:900px; height: 400px; background-color: white; position: absolute; left: 17%; top: 24%; display: flex; gap: 30px;}
.card {width: 280px; height: 400px; background-color: white; box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3)}
.card img {width: 280px; height: 250px;}
.card_text h3 {text-align: center;}
.card_text p {text-align: center; font-size: small; color: gray;}
.card_text span {font-size: 25px; margin-left:85%; cursor: pointer;}
.active {color:red;}


/* 계절여행지추천 2 */
.container_box2 {width:1200px; height: 480px; display: flex; margin: 0;}
.container2 {width:1200px; margin: 100px auto;}
.banner2 {position: relative; margin: 25px; left:67%; margin-top: 10%;}
.banner_text2 {position: absolute; left: 150px; top: 50px; color: white; font-weight: 400;}
.banner2 h2 {font-size: 36px; ; line-height: 1.4; font-family: hnt-font;}
.banner_box2 img {width: 400px; height: 550px;}
.card_box2 {width:900px; height: 400px; background-color: white; position: absolute; left: 40px; display: flex; gap: 30px; top:86%;}
.card {width: 280px; height: 400px; background-color: white; box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3)}
.card2 img {width: 280px; height: 250px;}
.card_text2 h3 {text-align: center;}
.card_text2 p {text-align: center; font-size: small; color: gray;}
.card_text2 span {font-size: 25px; margin-left:85%; cursor: pointer;}


/* 여행코스 더보기(상세페이지 넘어가는 버튼) */
.N {width: 1200px; height: 710px; margin: 0 auto; background-color: rgb(249, 255, 166);}
.M {width: 480px; height: 100px; background-color: aquamarine;}

/* 풋터 */
footer{width: 100%; height: 480px; background-color: #7b7b7b;}